main {
 background-color: #eeeeee;
}

header{
 text-align: center;
 margin-top:0;
 padding-top: 10px;
}

header h1{
 margin-bottom: 0;
 padding-top: 15px;
 padding-bottom: 5px;
 font-family:Segoe UI;
 font-size:40px;
 color:#333;
}
 /*"Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;*/
header p{
 margin-top: 15px;
 font-family:Segoe UI;
 color:#333;
}

section figure{
 text-align: center;
 padding-left: 15px;
 padding-right: 15px;
 padding-bottom: 5px;
 background-color: white;
}
figure p{
 color:#333;
 font-family:Segoe UI;
}
section h2{
 text-align:center;
 padding-top: 50px;
 padding-bottom:30px;
 color:#333;
 font-family:Segoe UI;
 font-size:21px;
}
section ul{
 padding-left:400px;
 padding-right:400px
 ;
}
section ul li{
 font-family:Segoe UI;
 color:#333;
 padding-bottom:20px;
}
section blockquote{
 padding-top:18px;
 padding-left:360px;
 padding-right:360px;
}
.quote{
 font-family:Helvetica;
 font-style:italic;
 color:#333;
 font-size:15px;
}
footer{
 padding-bottom:38px;
}
 footer h2{
  color:#333;
  font-family:Segoe UI;
 }















